
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Juggling licence
      </h1>
      <p>
      Change text here
      </p>
      <p><a href="/start">Apply for your juggling licence now</a></p>


      <h2 class="govuk-heading-m">About this page</h2>

      <p>Change text.</p>






    </div>
  </div>

{% endblock %}
